---
import '@fontsource/jost'
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me"
const identity = {
	firstName : "Karan",
	country : "India",
	occupation : "Software Developer",
	hobbies : ["Reading", "Writing", "Coding", "Gaming" , "Watching Movies" , "Listening to Music" ]
}

const skills = ["HTML", "CSS", "JavaScript", "Vue", "Python", "Java" ]


function getRandomHobby() {
	return identity.hobbies[Math.floor(Math.random()*identity.hobbies.length)]
}


---
<BaseLayout pageTitle={pageTitle}>
	<h1>About</h1>
	<p>I specialize in rapidly building software companies and web applications.</p>
		
		<p>I primerly know JavaScript, Python and Java, but I have experience working in a wide range of technologies including Node & Express, MongoDB, PostgreSQL, Vue,  REST API design, CircleCI, 3rd party APIs (Stripe, Discord, Slack), AWS (S3, CloudFront, Route53), and many more.
	<h1>Personal</h1>
		<p>I’ve been a gamer my entire life. I play valorant and CS.
		I live in {identity.country} and I work as a {identity.occupation}.
		Two of my hobbies are: {getRandomHobby} and {getRandomHobby}
		I love to play Cricket , and I’m learning to record my own songs.
		</p>
</BaseLayout>

