---
import '@fontsource/jost'
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me"
const identity = {
	firstName : "Karan",
	country : "India",
	occupation : "Software Developer",
	hobbies : ["Reading", "Writing", "Coding", "Gaming" , "Watching Movies" , "Listening to Music" ]
}

const skills = ["HTML", "CSS", "JavaScript", "Vue", "Python", "Java" ]


function getTwoRandomHobby() {
	const randomIndex1 = Math.floor(Math.random() * identity.hobbies.length);
	let randomIndex2 ;

	do {
		randomIndex2 = Math.floor(Math.random() * identity.hobbies.length);
	} while(randomIndex1 === randomIndex2);

	return `${identity.hobbies[randomIndex1]} and ${identity.hobbies[randomIndex2]}`;

}


---
<BaseLayout pageTitle={pageTitle}>
	<h1>About</h1>
	<p>I specialize in rapidly building software and web applications.</p>
		
		<p>I primerly know JavaScript, Java and Python, but I have experience working in a wide range of technologies including Node & Express, MongoDB, PostgreSQL, Vue,  REST API design ,  AWS (S3, CloudFront, Route53), and many more.
	<h1>Personal</h1>
		<p>I’ve been a gamer my entire life. I play valorant and CS.
		I live in {identity.country} and I work as a {identity.occupation} at <a class="treety-link" href="https://www.treety.co/" target="_blank"> Treety </a>.
		Two of my hobbies are: {getTwoRandomHobby}
		and I love to play Cricket .
		</p>
</BaseLayout>

