---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me"
const identity = {
	firstName : "Karan",
	country : "India",
	occupation : "Software Developer",
	hobbies : ["Reading", "Writing", "Coding", "Gaming" , "Watching Movies" , "Listening to Music" ]
}

const skills = ["HTML", "CSS", "JavaScript", "Vue", "Python", "Java" ]


function getRandomHobby() {
	return identity.hobbies[Math.floor(Math.random()*identity.hobbies.length)]
}


const goal = 3
---
<BaseLayout pageTitle={pageTitle}>
	<h1>About</h1>
	<p>Here are a few facts about me:</p>
	<ul>
	  <li>My name is {identity.firstName}.</li>
	  <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
	  {identity.hobbies.length >= 2 &&
		<li>Two of my hobbies are: {getRandomHobby} and {getRandomHobby}</li>
	  }
	</ul>

	<p>My skills are:</p>
	<ul>
	  {skills.map((skill) => <li>{skill}</li>)}
	</ul>  
</BaseLayout>