---
import { DateTime } from "luxon";
const { title, url, pubDate, description } = Astro.props;

const publishDateFormatted =
  DateTime.fromJSDate(pubDate).toFormat("MMMM dd, yyyy");
---

<div class="article-overview">
  <span class="article-date">{publishDateFormatted}</span>
  <a href={url} class="article-title">{title}</a>
  <p class="description">{description}</p>
  <a class="read-more" href={url}>Read more...</a>
  <div>
    <style>
      .article-overview {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: space-evenly;  
        width: 100%;
        max-width: 633px;
        margin-bottom: var(--spacing-lg);
      }
      .article-title {
        font-family: Jost;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
      }

      .article-date {
        color: var(--rw-blue-50, #5e8ca7);
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .read-more {
        color: #7ab6d9;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
      }

      @media (max-width: 600px) {
        .article-overview {
          margin-bottom: var(--spacing-md);
        }
      }
    </style>
  </div>
</div>
